/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.container-fluid { padding-top: 50px; }
.default-ceneter-button {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}
.w195 {
    width: 195px;
}

.fr {
    float: right;
}

.modal-header .close {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.modal-content  {
   
    border-radius: 15px;
}