/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.woocommerce table.form-table input.regular-input.button.button-primary {
    width: auto;
    padding: 0px;
    min-width: 250px;
    
}